<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='calendar_styles.css') }}"
    />
  </head>
  <body>
    <!-- Back button -->
    <button id="backButton">Home</button>

    <div class="container">
      <h1>Calendar</h1>
      <!-- Calendar content goes here -->
    </div>

    <script>
      document
        .getElementById("backButton")
        .addEventListener("click", function () {
          window.history.back();
        });
    </script>
  </body>
</html>
