<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat</title>
    <link rel="stylesheet" href="/static/food_styles.css">
  </head>
  <body>
    
      
    <div id="catPanel" class="food-container">
      <div class="title">Feed the Cat</div>
      <button id="Milk" onclick="feedCat('Milk')">Milk [Pay 2]</button>
      <button id="Fish" onclick="feedCat('Fish')">Fish [Pay 5]</button>
    </div>
  </body>
</html>