<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Monitor</title>
</head>

<body>
  <div id="popupPanel">
    <h1>Useful Links</h1>

    <button onclick="window.location.href='https://online.manchester.ac.uk/'">
      Visit Blackboard
    </button>
    <button onclick="window.location.href='https://studentnet.cs.manchester.ac.uk/me/spotv2/spotv2.php'">
      Visit SPOT
    </button>
    <button onclick="window.location.href='https://resourcebooker.manchester.ac.uk/'">
      Book a Study Space
    </button>

    <button onclick='showPopUp("/wellbeing")'>Wellbeing</button>
    <button id="closePanelButton">Close</button>
  </div>
</body>

</html>